.container {
    background-color: #eee;
    min-height: 60vh;
    padding: 50px;
}

.products-container {
    max-width: 1200px;
    margin: 0 auto;
}


.card {
    width: 31%;
    display: inline-block;
    margin: 1% 1%;
    padding: 15px;
}

.product-image {
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img-1 {
    background-image: url('../img/slipstream.png');
}

#img-2 {
    margin-bottom: 15px;
    background-image: url('../img/adidaslow.png');
}

#img-3 {
    background-image: url('../img/airmax.png');
}

#img-4 {
    background-image: url('../img/jordan.png');
}

#img-5 {
    background-image: url('../img/newbalance.png');
}

#img-6 {
    background-image: url('../img/pumasuede.png');
}

#adidastexto {
    margin-bottom: 40px;
}

h3 {
    margin-bottom: 10px;
    color: rgb(67, 3, 104);
    border-left: 5px solid blueviolet;
    padding-left: 7px;
    font-size: 24px;
}

.card p {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(53, 2, 63);
    color: whitesmoke;
    padding: 15px;
    border-radius: 15px;
    transition: .5s;
}

.btn:hover {
    background-color: rgb(67, 3, 104);
}